In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder
import pickle

In [2]:
import pandas as pd
df = pd.read_csv("C:\churn prediction model\Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.shape

(10000, 11)

In [8]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [9]:
le=LabelEncoder()
ohe=OneHotEncoder(sparse_output=False)

In [10]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
df['Gender'] = le.fit_transform(df['Gender'])

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
# Apply OneHotEncoder
geography_encoded = ohe.fit_transform(df[['Geography']])
geography_columns = ohe.get_feature_names_out(['Geography'])

# Convert the result into a dataframe
geography_df = pd.DataFrame(geography_encoded, columns=geography_columns)

In [14]:
df = df.drop(columns=['Geography']).reset_index(drop=True)
df = pd.concat([df, geography_df], axis=1)

In [15]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [16]:
# Assign the 'Exited' column to all but the last row of the DataFrame
df.iloc[:-1, df.columns.get_loc('Exited')] = df['Exited'].iloc[:-1]

In [17]:
# Save the encoder (example with LabelEncoder)
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(le, file)

# For OneHotEncoder
with open('onehot_encoder.pkl', 'wb') as file:
    pickle.dump(ohe, file)

In [18]:
X = df.drop('Exited', axis=1)  # Features (drop the 'Exited' column)
y = df['Exited']

In [19]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [20]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [21]:
#train test split
X_train, X_test, y_train, y_test  = train_test_split(X,y,test_size=0.2,random_state=42)

In [22]:
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (8000, 12)
Shape of X_test: (2000, 12)
Shape of y_train: (8000,)
Shape of y_test: (2000,)

In [24]:
scaler=StandardScaler()

# Re-scale the training data using fit_transform
X_train = scaler.fit_transform(X_train)

# Re-scale the test data using transform (not fit_transform)
X_test = scaler.transform(X_test)


print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)

Shape of X_train: (8000, 12)
Shape of X_test: (2000, 12)

In [25]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Model

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import datetime

WARNING:tensorflow:From c:\churn prediction model\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [27]:
model = Sequential([
    Dense(64, activation = 'relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation = 'relu'),
    Dense(1,activation='sigmoid')

])

WARNING:tensorflow:From c:\churn prediction model\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From c:\churn prediction model\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [69]:
log_dir = "venv\logs" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [70]:
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10)

In [71]:
history = model.fit(
    X_train, y_train,
    epochs=100,
    batch_size=32,
    validation_data=(X_test, y_test),
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2859 - accuracy: 0.8802 - val_loss: 0.3496 - val_accuracy: 0.8675
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2866 - accuracy: 0.8767 - val_loss: 0.3549 - val_accuracy: 0.8630
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2842 - accuracy: 0.8842 - val_loss: 0.3578 - val_accuracy: 0.8620
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2866 - accuracy: 0.8801 - val_loss: 0.3548 - val_accuracy: 0.8615
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2824 - accuracy: 0.8835 - val_loss: 0.3508 - val_accuracy: 0.8650
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2818 - accuracy: 0.8810 - val_loss: 0.3546 - val_accuracy: 0.8625
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2817 - accuracy: 0.8836 - val_loss: 0.3616 - val_accuracy: 0.8620
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2797 - accuracy: 0.8856 - val_loss: 0.3549 - val_accuracy: 0.8645
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2781 - accuracy: 0.8832 - val_loss: 0.3611 - val_accuracy: 0.8610
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2784 - accuracy: 0.8820 - val_loss: 0.3556 - val_accuracy: 0.8630
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2767 - accuracy: 0.8825 - val_loss: 0.3561 - val_accuracy: 0.8640

In [72]:
model.save('model.h5')

In [73]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [79]:
%tensorboard --logdir=venv\logs

Reusing TensorBoard on port 6007 (pid 5228), started 0:06:06 ago. (Use '!kill 5228' to kill it.)

In [67]:
!tasklist | findstr tensorboard

tensorboard.exe              13348 Console                   24      3,692 K
tensorboard.exe              28844 Console                   24      3,632 K

In [68]:
!taskkill /F /IM tensorboard.exe

SUCCESS: The process "tensorboard.exe" with PID 13348 has been terminated.
SUCCESS: The process "tensorboard.exe" with PID 28844 has been terminated.

In [78]:
%tensorboard --logdir=venv/logs --port=6007